@use "../../foundation/variable" as var;
@use "../../foundation/mixin";

.c-auth-input {
    width: 100%;
    height: 50px;
    padding: 10px;
    padding-left: 45px;
    font-size: var.$font-size_s;
    border-radius: 100px;
    display: block;
    background: rgba(171, 202, 232, 1);

    // タブレット以降
    @include mixin.mq(md) {
        font-size: var.$font-size_m;
        padding: 10px 20px 10px 60px;
    }
}
