@use "../../foundation/mixin";
@use "../../foundation/variable" as var;

#c-input {
    &-username {
        position: relative;
        margin-bottom: var.$space_l;
        // pcデザイン
        @include mixin.mq(lg) {
            margin-bottom: var.$space_xl;
        }
    }
    &-email {
        position: relative;
        margin-bottom: var.$space_l;
        // pcデザイン
        @include mixin.mq(lg) {
            margin-bottom: var.$space_xl;
        }
    }
    &-password {
        position: relative;
        margin-bottom: var.$space_l;
        // pcデザイン
        @include mixin.mq(lg) {
            margin-bottom: var.$space_xl;
        }
        &-re {
            position: relative;
            margin-bottom: var.$space_l;
            // pcデザイン
            @include mixin.mq(lg) {
                margin-bottom: var.$space_xl;
            }
        }
    }
    &-teams {
        position: relative;
        margin-bottom: var.$space_l;
        // pcデザイン
        @include mixin.mq(lg) {
            margin-bottom: var.$space_xl;
        }
    }
}
