@use "../../foundation/variable" as var;
@use "../../foundation/mixin";

// ==================================
// p-login
// ==================================
.p-login {
    display: flex;
    text-align: center;
    justify-content: center;
    // pcデザイン
    @include mixin.mq(lg) {
        justify-content: center;
        align-items: center;
    }

    &__title {
        font-weight: initial;
        font-size: 20px;
    }

    &__form {
        // スマホデザイン
        width: 75%;
        // タブレットデザイン
        @include mixin.mq(md) {
            width: 55%;
        }
        // pcデザイン
        @include mixin.mq(lg) {
            width: 40%;
        }
        // pc大デザイン
        @include mixin.mq(xl) {
            width: 30%;
        }
        &-check {
            margin-bottom: var.$space_xl;
            display: flex;
            justify-content: start;
            align-items: center;
        }
    }
    &__password-re {
        text-align: end;
        font-size: var.$font-size_s;
        margin-bottom: var.$space_xl;
    }

    &__button {
        width: 200px;
        height: 50px;
        font-size: var.$font-size_xl;
        background: var.$palette-navy;
        color: #fff;
        &:hover {
            cursor: pointer;
            background: rgba(121, 161, 212, 0.7);
        }
    }
}
