@use "../../foundation/variable" as var;

// ==================================
// p-header
// ==================================
.p-header {
    display: flex;
    justify-content: space-around;
    &__logo {
        line-height: var.$header-height;
        & > a {
            padding: 22px;
            &:hover {
                color: #1c81b8;
            }
        }
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        width: 250px;
        &-item > a {
            padding: 22px;
            &:hover {
                color: #1c81b8;
            }
        }
    }
}
