@use "../../foundation/variable" as var;
@use "../../foundation/mixin";

// ==================================
// p-header
// ==================================
.p-header {
    font-size: var.$font-size_s;
    display: flex;
    justify-content: space-between;

    &__logo {
        line-height: var.$header-height;
        & > a {
            padding: 22px;
            &:hover {
                color: #1c81b8;
            }
        }
    }
    &__nav {
        // スマホファースト
        transition: all 0.3s;
        position: fixed;
        top: 0;
        right: -70vw;
        height: 100vh;
        width: 70vw;
        background: rgba(27, 67, 93, 0.8);
        z-index: 99;
        // スマホデザイン
        @include mixin.mq(sm) {
        }
        // タブレットデザイン
        @include mixin.mq(md) {
        }
        // pcデザイン
        @include mixin.mq(lg) {
            position: initial;
            height: var.$header-height;
            background: initial;
            line-height: var.$header-height;
            width: initial;
        }

        &.active {
            transform: translateX(-100%);
        }
    }
    &__menu {
        // スマホファースト
        display: flex;
        flex-direction: column;
        margin-top: var.$header-height;
        margin-left: 30px;
        &-item {
            margin-bottom: 40px;
            // スマホデザイン
            @include mixin.mq(sm) {
            }
            // タブレットデザイン
            @include mixin.mq(md) {
            }
            // pcデザイン
            @include mixin.mq(lg) {
                height: var.$header-height;
                margin: initial;
                margin-right: 30px;
            }

            > a {
                &:hover {
                    color: #1c81b8;
                }
            }
        }
        // pcデザイン
        @include mixin.mq(lg) {
            flex-direction: row;
            padding-top: 0;
            margin: initial;
        }
    }
}
