@use "../../foundation/variable" as var;
@use "../../foundation/mixin";

// ==================================
// p-signup
// ==================================
.p-signup {
    display: flex;
    justify-content: center;
    // pcデザイン
    @include mixin.mq(lg) {
        justify-content: center;
        align-items: center;
    }

    &__img-wrap {
        // スマホデザイン
        display: none;

        // pcデザイン
        @include mixin.mq(lg) {
            display: initial;
            width: 30%;
        }
    }

    &__form {
        // スマホデザイン
        width: 75%;
        text-align: center;

        // タブレットデザイン
        @include mixin.mq(md) {
            width: 55%;
        }
        // pcデザイン
        @include mixin.mq(lg) {
            width: 40%;
        }
        // pc大デザイン
        @include mixin.mq(xl) {
            width: 30%;
        }
    }

    &__title {
        font-weight: initial;
        font-size: 20px;
    }

    p {
        // pcデザイン
        @include mixin.mq(lg) {
            font-size: 20px;
        }
    }
    &__button {
        font-size: var.$font-size_m;
        background: var.$palette-navy;
        color: #fff;

        // タブレットデザイン
        @include mixin.mq(sm) {
            width: 40%;
            font-size: var.$font-size_l;
        }

        // pcデザイン
        @include mixin.mq(lg) {
        }
        &:hover {
            cursor: pointer;
            background: rgba(121, 161, 212, 0.7);
        }
    }
}
