@use "../../foundation/variable" as var;
@use "../../foundation/mixin";

.p-work-status {
    text-align: center;
    // font-size: var.$font-size_l;
    &__title {
        font-weight: initial;
        font-size: 20px;
    }
    &__history {
        margin-left: auto;
        margin-right: auto;
        width: 80%;

        &-head {
            background: #79a1d4;
            border-radius: 3px 3px 0 0;
            color: #fff;
            padding: 10px 20px;
            font-weight: bold;
            text-align: left;
        }
        &-body {
            padding: 20px;
            background: #fff;
            border-radius: 0 0 3px 3px;
            text-align: left;
            // overflow: scroll;
        }
        &-contents {
            // 共通デザイン
            display: grid;
            gap: var.$space_m;
            padding: var.$space_m;
            margin-bottom: var.$space_xl;
            position: relative;
            align-items: baseline;
            grid-template-columns: 1fr;
            border-bottom: dotted #777 1px;
            &:last-child {
                margin-bottom: 0;
                border-bottom: none;
            }

            // スマホ ~ タブレットデザイン
            @include mixin.mq(sm) {
                grid-template-columns: 1fr 1fr;
            }
            // pcデザイン
            @include mixin.mq(lg) {
                grid-template-columns: 1fr 1fr 3fr;
            }
        }
        &-date {
        }
        &-worktime {
            span {
                font-size: var.$font-size_xxl;
                font-weight: bold;
                color: #79a1d4;
            }
        }
        &-subject {
            // スマホデザイン
            @include mixin.mq(sm) {
                grid-column: 1/3;
            }
            // pcデザイン
            @include mixin.mq(lg) {
                grid-column: initial;
            }
        }
        &-edit {
            &-trigger {
                position: absolute;
                top: -10%;
                right: 0;
                &:hover {
                    cursor: pointer;
                }
            }
            &-wrap {
                position: absolute;
                top: -5%;
                right: 0;
                z-index: 98;
                padding: var.$space_l;
                background: rgba(27, 67, 93, 0.8);
                box-shadow: 0 0 30px #777;
                flex-direction: column;
                justify-content: center;
                font-size: 12px;
                text-align: center;
                display: none;

                @include mixin.mq(lg) {
                    top: -15%;
                    flex-direction: row;
                    align-items: center;
                    width: 20%;
                    justify-content: space-around;
                }

                &.active {
                    display: flex;
                }
            }
            &-close {
                position: absolute;
                top: 5px;
                right: 5px;
                font-size: var.$font-size_default;
                cursor: pointer;
            }
        }
    }
}
