@use "../foundation/variable" as var;
@use "../foundation/mixin";

// ==================================
// l-header
// ==================================
.l-footer {
    height: var.$header-height;
    background-color: rgba(69, 69, 69);
    width: 100%;
    color: #fff;
    & a {
        color: #fff;
    }
}
