@use "../foundation/variable" as var;
@use "../foundation/mixin";

// ==================================
// l-header
// ==================================
.l-header {
    height: var.$header-height;
    top: 0;
    left: 0;
    background-color: var.$color-globalHeader-background;
    width: 100%;
    color: #fff;
    & a {
        color: #fff;
    }
}
