@use "../../foundation/variable" as var;

.u-mg {
    &--auto {
        margin: 0 auto;
    }
    &b {
        &--40 {
            margin-bottom: var.$space_3l;
        }
    }
    &r {
        &l {
            &--10 {
                margin: 0 10px;
            }
        }
        &--10 {
            margin-right: 10px;
        }

        &--60 {
            margin-right: 60px;
        }
    }
}
